version: '3.5'

services:
  animomediator:
    image: ghcr.io/animo/animo-mediator:latest
    environment:
      AGENT_PORT: 3000
      AGENT_NAME: Mediator
      WALLET_NAME: mediator
      WALLET_KEY: ${WALLET_KEY}
      DID_WEB_SEED: ${DID_WEB_SEED}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_ADMIN_USER: ${POSTGRES_ADMIN_USER}
      POSTGRES_ADMIN_PASSWORD: ${POSTGRES_ADMIN_PASSWORD}
      AGENT_ENDPOINTS: 'https://my-mediator.com,wss://my-mediator.com'
      LOG_LEVEL: 2
    ports:
      - '3000'
