version: '3.5'

services:
  animomediator:
    image: ghcr.io/animo/animo-mediator:main
    environment:
      AGENT_PORT: 3000
      AGENT_NAME: Mediator
      WALLET_NAME: mediator
      WALLET_KEY: ${WALLET_KEY}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DATABASE_URL: ${POSTGRES_DATABASE_URL}
      POSTGRES_ADMIN_USER: ${POSTGRES_ADMIN_USER}
      POSTGRES_ADMIN_PASSWORD: ${POSTGRES_ADMIN_PASSWORD}
      POSTGRES_TLS_CA: ${POSTGRES_TLS_CA}
      AGENT_ENDPOINTS: 'https://my-mediator.com,wss://my-mediator.com'
      LOG_LEVEL: 2
    ports:
      - '3000'
